h1 {
  font-size: 45px;
  margin-left: 20px;
  }
  
  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  
  button {
    background-color: rgba(226, 226, 226, 0.898);
    border-color: rgb(194, 194, 194);
    border-radius: 4px;
    height: 30px;
  }
  
  button:hover {
    background-color: rgba(226, 226, 226, 0.596);
  }
  
  .label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
  }
  
  .label input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
  }
  
  .label input:focus {
    border-color: #007bff;
  }